<%- include('partials/header') %>
      <div id="customerimg" class="container-fluid">
        <h1 class="main-text">Welcome</h1>
      </div>
      <br><br>
      <div class="container">
      <form action="/click" method="post">
        <div class="box border" id="heading">
          <br>
          <h1 class="text-center heading">VEHICLES AVAILABLE</h1>
        </div>
        <form>
      <input type="text" readonly class="form-control-plaintext" id="userId" style="color:white" name="user" value="<%=user%>">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4"><b>Arrival Date</b></label>
              <input  type="email" class="form-control" name="arrdate" id="inputEmail4" placeholder="DD/MM/YYYY">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4"><b>Return Date</b></label>
              <input type="password" class="form-control" name="retdate" id="inputPassword4" placeholder="DD/MM/YYYY">
            </div>
          </div>
        </form>
      <br><br>
      <div class="box">
        <table class="table table-hover">
        <thead class="table-head">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model Name</th>
            <th scope="col">Car Year</th>
            <th scope="col">Car Number</th>
            <th scope="col">Car Transmission</th>
            <th scope="col">Price</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
      
        <% for(var i=0;i<newListItems.length;i++){ %>
          <div class="item">
                  <tbody>
                    <tr>
                      <th scope="row"><%=i+1%></th>
                      <td><b><%=newListItems[i].modelName%></b></td>
                      <td><b><%=newListItems[i].carYear%></b></td>
                      <td><b><%=newListItems[i].carNo%></b></td>
                      <td><b><%=newListItems[i].carTrans%></b></td>
                      <td><b><%=newListItems[i].carRate%></b></td>
                       <td> <form action="/click" method="post">
                        <button type="submit" name="click" class="btn-red"  value="<%=newListItems[i]._id%>">Click</button>
                    </tr>
               
                 
        </div>
   <%} %>
  </table>
<br><br><br>
 <% if(previousBookings.length==0){%>
  <h4>OOPS!! You Have No Previous Bookings.</h4>
 <% }else{%>
 
  <h1 id="#previousBooking" class="border heading">Your Previous Bookings</h1>
  <br>
  <div class="box">
    <table class="table">
    <thead class="table-head">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Model Name</th>
        <th scope="col">Car Number</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Total price</th>
      </tr>
    </thead>
  
    <% for(var i=0;i<previousBookings.length;i++){ %>
      <div class="item">
              <tbody>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><b><%=previousBookings[i].userName%></b></td>
                  <td><b><%=previousBookings[i].userAddress%></b></td>
                  <td><b><%=previousBookings[i].userPhonenumber%></b></td>
                  <td><b><%=previousBookings[i].modelName%></b></td>
                  <td><b><%=previousBookings[i].carNumber%></b></td>
                  <td><b><%=previousBookings[i].arrivalDate%></b></td>
                  <td><b><%=previousBookings[i].returnDate%></b></td>
                  <td><b><%=previousBookings[i].totPrice%></b></td>
                </tr>
           
             
    </div>
<%} %>
</table>
 <% }%>
<br><br>
  <h3 style="color:#4C0027">Share Your experience</h3>
<form class="text-start" action="/review" method="post">
    <div class="form-group">
<div class="mb-3">
    <label for="" class=""><b>Review</b></label> 
    <textarea name="reviewBody" class="form-control input-boder" cols="5" rows="4" placeholder="Enter your review"></textarea>
</div>
</div>
<button type="submit" class="btn-red" name="review" value="<%=user%>">Publish</button>
</form>

<br><br>
</form>
<h3 style="color:#4C0027">Post Your Queries</h3>
<form class="text-start" action="/query" method="post">
  <div class="form-group">
<div class="mb-3">
  <label for="" class=""><b>Query</b></label> 
  <textarea name="queryBody" class="form-control" cols="5" rows="2" placeholder="Enter your query"></textarea>
</div>
</div>
<button type="submit" class="btn-red" name="query" value="<%=user%>">Submit</button>
</form>
<br><br>
   <form action="/logout" method="post">
     <div class="text-center">
    <button type="submit" name="signout"  class="signout btn btn-danger">Sign Out</button>   
  </div>
    </form>      
    </div>
  </div>

    </body>
</html>
