<!DOCTYPE html>
<html leng="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
        <title>Vehicle list</title>
     <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <div class="box" id="heading">
        <h1>Available Vehicle List</h1>
      </div>
      <div class="box">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model Name</th>
            <th scope="col">Car Year</th>
            <th scope="col">Car Number</th>
            <th scope="col">Car Transmission</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <% for(var i=0;i<newListItems.length;i++){ %>
          <div class="item">
                  <tbody>
                    <tr>
                      <th scope="row"><%=i+1%></th>
                      <td><%=newListItems[i].modelName%></td>
                      <td><%=newListItems[i].carYear%></td>
                      <td><%=newListItems[i].carNo%></td>
                      <td><%=newListItems[i].carTrans%></td>
                      <td><%=newListItems[i].carRate%></td>
                    </tr>
               
                 
        </div>
   <%} %>
  </table>
                       
    </div>
    
    </body>
</html>