<%- include('partials/header') %>
      <div id="customerimg" class="container-fluid">
        <h1 class="main-text">VBC RENTALS</h1>
      </div>
      <br><br>
      <div class="container">
        <div class="box border" id="heading">
          <div class="box heading">
            <h1>Vehicle List</h1>
          </div>
        </div>
      <br>
         <div class="box">
          <table class="table ">
          <thead class="table-head">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Model Name</th>
              <th scope="col">Car Year</th>
              <th scope="col">Car Number</th>
              <th scope="col">Car Transmission</th>
              <th scope="col">Price</th>
              <th scope="col">Delete</th>
              <th scope="col">Add To List</th>
            </tr>
          </thead>
          <% for(var i=0;i<newListItems.length;i++){ %>
            <div class="item">
                    <tbody>
                      <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><b><%=newListItems[i].modelName%></b></td>
                        <td><b><%=newListItems[i].carYear%></b></td>
                        <td><b><%=newListItems[i].carNo%></b></td>
                        <td><b><%=newListItems[i].carTrans%></b></td>
                        <td><b><%=newListItems[i].carRate%></b></td>
                        <td><form action="/delete" method="post">
                          <button type="submit" name="deleted" style="background-color:#AE431E;color:white" value="<%=newListItems[i]._id%>"><b>Delete</b></button>
                         </form></td>
                         <td>
                         <form action="/addTo" method="post">
                           <button type="submit" name="addTo" id="addButton" class="btn-red" value="<%=newListItems[i]._id%>"><b>Add to list</b></button>
                          </form></td>
                      </tr>
                 
                   
          </div>
     <%} %>
    </table>
    <br>
    <section class="section-3">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <form class="item " action="/add" method="post">
              <button type="submit" class="btn btn-primary " name="list" value=""><a class="button-link" href="/add"><b>Add Vehicles</b></a></button>
            </form>
          </div>
          <div class="col-md-3 col-sm-12">
            <form class="item2" action="/home" method="post">
              <button type="submit" class="btn btn-primary " name="blist" value=""><a class="button-link" href="/booked"><b>Booked vehicles</b></a></button>
            </form>
          </div>
          <div class="col-md-3 col-sm-12">
            <form action="/logouta" method="post">
              <button type="submit" class="btn btn-primary" name="logout" class="logout"><a class="button-link" href="/users"><b>Customer Details</b></a></button>
            </form>
          </div>
          <div class="col-md-3 col-sm-12">
            <button type="submit"  class="btn btn-primary" name="blist" value=""><a class="button-link" href="/queryPage"><b>Customer Queries</b></a></button>
          </div>
        </div>
      </div>
    </section>
    <br><br>
    <form action="/logouta" method="post">
      <div class="text-center">
      <button type="submit" name="logout" class="logout btn btn-danger">Log out</button>
    </div>
    </form>
    
    </body>
</html>