<p>Thank you for choosing VBC rentals</p>
<p>Complete Details of the ride will sent via mail</p>
<p>Selected vehicle details</p>
Model Name: <%=SelecVehicle.modelName%>
Car Year: <%=SelecVehicle.carYear%></td>
Car Number: <%=SelecVehicle.carNo%></td>
Car Transmission: <%=SelecVehicle.carTrans%></td>
Price(per day): <%=SelecVehicle.carRate%></td>
Total Price to be paid: <%=price%>
Status : "Pending"
<button type="submit" name="click" class="dis" ><a href="/customer">Close</a></button>
