<%- include('partials/header') %>
<br><br>
   
      <form action="/back" method="post">
        <div class="text-left ">
          <button type="submit" name="signout"  class="signout btn btn-success"><b><--BACK</b></button></div>
        </form>  
        <br>
        <div class="container">
      <h1 class="heading border">USER DETAILS</h1>
      <br>
      <div class="box ">
         <div>
          <table class="table table-hover">
          <thead class="table-head">
             <tr>
              <th scope="col">#</th>
              <th scope="col">Email/th>
              <th scope="col">Name</th>
              <th scope="col">Adress</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Model Name</th>
              <th scope="col">carNumber</th>
              <th scope="col">Arrival Date</th>
              <th scope="col">Return Date</th>
              <th scope="col">Total Price</th>
              <th scope="col">Accept</th>
              <th scope="col">Deny</th>
              <!-- <th scope="col">Add To vehicle list</th> -->

            </tr>
          </thead>
          <% for(var i=0;i<newListItems.length;i++){ %>
            <div class="item text-bold">
                    <tbody>
                      <tr>
                        <th scope="row "><%=i+1%></th>
                        <td><b><%=newListItems[i].userEmail%></b></td>
                        <td><b><%=newListItems[i].userName%></b></td>
                        <td><b><%=newListItems[i].userAddress%></b></td>
                        <td><b><%=newListItems[i].userPhonenumber%></b></td>
                        <td><b><%=newListItems[i].modelName%></b></td>
                        <td><b><%=newListItems[i].carNumber%></b></td>
                        <td><b><%=newListItems[i].arrivalDate%></b></td>
                        <td><b><%=newListItems[i].returnDate%></b></td>
                        <td><b><%=newListItems[i].totPrice%></b></td>
                       <% if(newListItems[i].status==="Pending"){%>
                        <td><form action="/statusAccept" method="post"><button name="accept" class="btn btn-secondary" value="<%=newListItems[i]._id%>"><b>Accept</b></button></form></td>
                        <td><form action="/statusDeny" method="post"><button name="deny"class="btn-red" value="<%=newListItems[i]._id%>"><b>Deny</b></button></form></td>
                        <%}%>
                        <%if(newListItems[i].status==="Accepted"){%>
                          <td><form action="/statusAccept" method="post"><button class="btn btn-secondary" name="accept" value="<%=newListItems[i]._id%>"><b>Accepted</b></button></form></td>
                          <td><p></p></td>
                        <%}%>
                        <%if(newListItems[i].status==="Denied"){%>
                          <td><p></p></td>
                          <td><form action="/statusDeny" method="post"><button name="deny" class="btn-red" value="<%=newListItems[i]._id%>"><b>Denied</b></button></form></td>
                        <%}%>
                        <!-- <td><form action="/addBack" method="post"><button name="number" class="btn btn-info" value="<%=newListItems[i].carNumber%>"><b>Add back</b></button></form></td> -->
                      </tr>
                  </div>
     <%} %>
    </table>
  </div>
    </body>
</html>